<button class="btn btn-secondary" type="button" (click)="addFilter()">
  Add new filter
</button>
<form [formGroup]="filterFormGroup" (ngSubmit)="submitFilter()">
  <ng-container formArrayName="filters" *ngIf="filterForm.length">
    <ng-container *ngFor="let group of filterForm.controls; let index = index">
      <div class="d-flex justify-content-between" [formGroup]="group">
        <div class="d-flex flex-column gap-2 form-container form-group py-2">
          <!-- {{ filterConfig | json }} -->
          <select class="w-100 form-select" formControlName="columnName">
            <option>Select a column</option>
            <option *ngFor="let item of filterConfig">{{ item.id }}</option>
          </select>

          <select class="w-100 form-select" formControlName="operator">
            <option>Select an operator</option>
            <option *ngFor="let operator of operators">{{ operator }}</option>
          </select>

          <input class="w-100 form-control"
            type="text"
            formControlName="searchText"
            placeholder="Search..."
          />
        </div>
        <div class="py-2">
            <button type="button" class="btn btn-outline-primary" (click)="deleteFilter(index)">Delete filter</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <button *ngIf="filterForm?.length" type="submit" class="btn btn-primary">Filter table</button>
</form>
